:root {
    --primary: #808000;
    --secondary: #6f6f6f;
    --bg: #ffffff;
    --gap_small: 8px;
    --gap_med: 12px;
    --gap_large: 32px;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Open Sans", sans-serif;
    color: black;
}
a {
    text-decoration: none;
}

:root {
    --primary: #808000;
    --secondary: #6f6f6f;
    --bg: #ffffff;
    --gap_small: 8px;
    --gap_med: 12px;
    --gap_large: 32px;
    --padding_x: 50px;
    --padding_y: 10px;
}

/* navigation css */
header {
    background-color: #808000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    color: white;
    padding: 0 var(--padding_x);
}
header h1 {
    font-size: 20px;
}

li.active {
    background-color: rgb(255, 77, 0);
    padding: var(--gap_small) var(--gap_med);
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: var(--gap_med);
}
li:hover {
    text-decoration: underline;
}
li {
    gap: 10px;
    color: white;
}

a {
    color: white;
}
.section {
    display: flex;
    background-color: #808000;
    padding: 50px;
}
.form {
    padding: 50px 50px;
    width: 50%;
    gap: 20px;
}
form input {
    padding: 10px;
    margin: 8px 0px;
    font-size: large;
}
form {
    display: flex;
    flex-direction: column;
}
form hr {
    margin: 10px 0px;
    height: 3px;
    background-color: white;
}
.section .contact {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact a {
    color: black;
}
.contact a:hover {
    text-decoration: underline;
}
.map {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 100%;
}
.cont {
    position: relative;
    border: 1px solid black;
}
.logo {
    position: absolute;
    top: 0;
    background-color: #ffffffb2;
    padding: 20px 40px;
}
.logo span {
    font-weight: normal;
    font-size: smaller;
}
.logo1 {
    position: absolute;
    top: 0;
    background-color: #ffffff;
    padding: 20px 40px;
}
.logo1 span {
    font-weight: normal;
    font-size: smaller;
}
